body * {

  font-family: 'Raleway', sans-serif;
}
body {
  background-color: lightslategrey;
}


.page-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, calc(100%/3));
  grid-template-rows: 5% 95%;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
header {
  margin: 1em;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  height: 100%;
  grid-template-columns: 20% 2fr 20%;
  background-color: #191e23;
  border-radius: 10px;
}

.home-link {
  color: #E1E2EF;
  font-family: 'Oswald', sans-serif;
  align-self: center;
}
.home-link h1{
  margin-left: 20px;
  font-size: 1.5em;
  margin-top: 5px;

}
.home-link a {
  text-decoration: none;

}

.home-link a:visited{
  color: #E1E2EF;
}



form > img {
  max-width: 75px;
  max-height: 75px;
}

.top {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column: 1 / 4;
  height: 100%;
  background-color: #2f3133;
  justify-content: space-around;
  align-self: center;
}
.page-title {
  font-family: Sans-Serif;
  font-size: 2em;
  color: #ffffff;
  grid-column-end: 2;
}

}
.heading {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  color:white;
  justify-content: center;
}

.container {
  height: 20vh;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-rows: 15% 60% 15%;
  grid-template-columns: 50% 50%;
}

.avatar-pic {

  display: grid;
  margin-right: 100px;
  grid-row: 2;
  grid-column: 1;
}
.bottom {
  grid-row: 3;
  grid-column: 1;
}
.avatar-pic > img {

  max-height: 60px;
  max-width: 60px;
  align-self: center;
  margin-left: 50px;

}

.heading2 {
  grid-column:2;
  grid-row: 1;
  font-family: 'Raleway' sans-serif;
}
.middle {
  grid-column:2;
  grid-row: 2;
}
.bottom2 {
  grid-column: 2;
  grid-row:3;
}



.avatar-pic > button {
margin: 15px;
border: 2px solid black;
}


.signup-form {
  display:grid;
  margin-top: 50px;

}

.signup-form > input {
  margin-top: 10px;
}

.signup-form > button {
  margin-top: 20px;
  margin-bottom: 15px;
  border: 2px solid black;
}
