body {
  background-color: blue;

}
.top {
  background-color: red;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap:

}


.page-title {
  margin-left: 50px;



}

.form {
  flex-basis:auto;
  align-self: center;
  margin-right: 50px;

}

.logo {

}
